################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/build
/source/.vs
/source/cmake-build-debug-coverage
/source/out/build/x64-Debug
/source/CMakeSettings.json
/Folder.DotSettings.user
/source/main.cxx
/source/fileinout.plist
/source/Folder.DotSettings.user
/source/function.plist
/source/generic.plist
/source/iochap.plist
/source/main.plist
/source/max_sub.plist
/source/merge_sort.plist
/source/m_sales.plist
/source/operator.plist
/source/reference.plist
/source/sales.plist
/source/screen.plist
/source/statement.plist
/source/string_using.plist
/source/vector_using.plist
/source/aggeregate.plist
/source/consRef.plist
/intelBuild
/msbuild
/source/out/build/x64-Clang-Debug
/source/a.exe
